
*{
	color: white;
	padding: 0px;
	margin: 0px; 

 }

body
	{
	padding-top: 0px;
	background: #0f0c29;
	background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
	background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
	}

.jumbotron 
	*{
	color: black;
		}


 
 #box1{
 	padding-left: 120px;
 	
 }
 
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #55ACEE;
  color: white;
}

#contactus
{
	height: 30px;
	text-align: center;
	margin-bottom: 0px;

}



